body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

#counter {
    padding: 16px;
    background-color: #ffc6c6;
    border-radius: 10px;
}

#number {
    font-size:48px;
    margin: 0;
}

#klikiharjutus {
    background-color: #ffd2ee;
    border-radius: 10px;

}

table, th, td {
    border: 1px solid #e2e2e2;
    border-radius:3px;
}

th, td {
      padding: 8px 16px;  
}

.twitterpost {
    /* display: flex; */
    height: 100px;
    padding: 16px;
    margin: 16px;
    border: 1px solid #e2e2e2;
    border-radius: 16px;
}

.profilepic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}

.username {
    font-weight: bold;
}

.post-content {
    color: #3a3a3a;
}